@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html 
  height 100%
  overflow hidden
body 
  margin 0
  padding 0
  perspective 1px
  transform-style preserve-3d
  height 100%
  overflow-y scroll
  overflow-x hidden
  font-family "Roboto", sans-serif
h1 
  text-align center
  font-size 250%
  font-family "Roboto", sans-serif
  color #fff
.slide 
  position relative
  padding 25vh 10%
  min-height 100vh
  width 100vw
  box-sizing border-box
  box-shadow 0 -1px 10px rgba(0, 0, 0, .7)
  transform-style inherit
  text-align center
  &:before 
    content ""
    position absolute
    top 0
    bottom 0
    left 0
    right 0
  &:nth-child(2n) 
    .title 
      margin-left 0
      margin-right auto
  &:nth-child(2n 
    & + 1) 
      .title 
        margin-left auto
        margin-right 0

.slide, .slide:before 
  background 50% 50% / cover
.header 
  text-align center
  font-size 175%
  font-family "Roboto", sans-serif
  color #fff
#title 
  background-image url("https://www.rafaeldejongh.com/wp-content/uploads/2017/08/Synthwave-Neon-80s-Background-4K.jpg")
  background-attachment fixed
#slide1 
  &:before 
    background-image url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/wczfl6k/neon-grid-square-loop-background_eyla4ps-g__F0000.png")
    transform translateZ(-1px) scale(2)
    z-index -1
#slide2 
  background-image url("http://i.imgur.com/VnqbIDw.jpg")
  background-attachment fixed
#slide3 
  &:before 
    background-image url("https://data.whicdn.com/images/115514349/original.jpg")
    transform translateZ(-1px) scale(2)
    z-index -1
#slide4 
  background-image url("http://librarisingmusic.com/wp-content/uploads/2015/07/Fotolia_45452813_Subscription_Monthly_L1.jpg")
#index
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: navy;
  outline: 0; 
  border: none;
  width: 20%;
  border-radius: 50%;
  padding: 15px;
  color: cyan;
  font-size: 20px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer
