@require "helpers"
@require "index"
//@require "index"

text-color = #000
mobile-width = 600px

body
    margin 0
    padding 0
    font-family sans-serif
    
.error-message
    visibility hidden
    color red
    font-weight bold
    text-align left
    padding 1rem 0
.modal
    display none
    position fixed
    left 0
    top 0
    z-index 100
    width 100%
    height 100%
    overflow auto
    background-color #000
    background-color rgba(0, 0, 0, .5)
.modal-content
    max-width 90%
    margin 10% auto
    padding 2rem
    border 1px solid #888
    background-color white
    border-radius 5px
    text-align center

// FORM
.form-box
    width 40%
    margin 0px 30%
    box-shadow 0px 0px 20px #CCC
    padding 30px
    color white
.fb-item
    width 100%
    margin-bottom 20px
    font-size 1.2em
    display flex
    justify-content space-between
    color white
.fb-item input
    display flex
    justify-content space-between
    font-size 1.2em
    width 50%
    color black
.fb-item:focus //huh
    border-color blue
    
#submit
    bottom 0
    left 0
    width 100%
    background rgba(25, 219, 151, 1)
    padding 20px
    text-align center
    color white
    font-size 1.4em
    //text-transform uppercase
    -webkit-transition-duration 0.2s // Safari
    transition-duration 0.2s
    
#submit:hover
    opacity 0.6
    //font-size 1.2em
    //text-transform uppercase
    cursor pointer




