extends template

block content
    #title.slide.header
        h1 mindvibes
    #slide1.slide.header
        h1 discover your personality
        button#index(type='button' onclick="location.href = 'https://www.16personalities.com/free-personality-test'") Test
        br
        br
        button#index(type='button' onclick="location.href = '/register'") Register
    #slide2.slide.header
        h1 pick the beat that resonates with you
    #slide3.slide.header
        h1 step into a new reality
        button#index(type='button' onclick="location.href = '/login'") Login
    #slide4.slide.header
        h1 give your life a soundtrack 

