extends template

block content
    html
        body.is-loading
            //-#preloader
                .txt
                    p.txt-perc 0%
                    .progress
                        span
            #intro.header-container.fs
                .bcg
                header.wrapper
                    h1.title mindvibes
                    p Create a soundtrack for your life!
                span.scroll-hint Scroll Down
            #nav-dots
                ul
                    li
                        a(href='#intro')
                            span.nav-dot
                            span.nav-label Home 
                    li
                        a(href='#slide01')
                            span.nav-dot
                            span.nav-label Register 
                    li
                        a(href='#slide02')
                            span.nav-dot
                            span.nav-label Login
                    li
                        a(href='#slide03')
                            span.nav-dot
                            span.nav-label Quiz
            #main.main-container
                article#cb01.content-block
                    .wrapper
                        header.slideInUp
                            h1 SIMPLIFY
                        section
                            p.slideInUp.slideInUp2 Simplify your content to a MINIMUM.
                    // .wrapper
                article#slide01.slide.fs
                    .bcg
                    .wrapper
                        header.slideInUp
                            h1 Listen to music that matches your soul!
                        section
                            p.slideInUp.slideInUp2 Create an account to take the test and get personalized playlists. 
                            .slideInUp.slideInUp3
                                a.button(href='/register') Register
                    // .wrapper
                article#cb02.content-block
                    .wrapper
                        header.slideInUp
                            h1 FOCUS
                        section
                            p.slideInUp.slideInUp2 Focus on the most IMPORTANT thing. The one thing!
                    // .wrapper
                article#slide02.slide.fs
                    .bcg
                    .wrapper
                        header.slideInUp
                            h1 Login
                        section
                            p.slideInUp.slideInUp2
                                | Take the test as many times as you want. 
                            p.slideInUp.slideInUp3 Check into your account.
                            .slideInUp.slideInUp3
                                a.button(href='/login') Login
                    // .wrapper
                article#cb03.content-block
                    .wrapper
                        header.slideInUp
                            h1 ASK
                        section
                            p.slideInUp.slideInUp2 You don't ask, you don't get. Always end with CALL TO ACTION.
                    // .wrapper
                article#slide03.slide.fs
                    .bcg
                    .wrapper
                        header.slideInUp
                            a(href='https://ihatetomatoes.net/blog/', title="Petr Tichy's Front End Development Blog")
                                svg#iht_logo(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0', y='0', viewbox='0 0 308.8 152.1', xml:space='preserve', enable-background='new 0 0 308.8 152.1', style='visibility: inherit; opacity: 1;')
                                    style.
                                        .s0{
                                        fill:#D74022;
                                        }
                                        .s1{
                                        fill:#4D4D4F;
                                        }
                                        .s2{
                                        fill:none;
                                        stroke-linecap:round;
                                        stroke-miterlimit:10;
                                        stroke-width:10;
                                        stroke:#FFF;
                                        }
                                    path(d='M139.7 17.2C106 18.3 78.6 45.7 77.5 79.4 76.9 98 84.2 114.9 96.3 127l91-91C175.2 23.9 158.3 16.6 139.7 17.2z', fill='#D74022')
                                    path(d='M122.3 127c12.1 12.1 29 19.4 47.6 18.8 33.7-1.1 61.1-28.5 62.2-62.2 0.6-18.6-6.7-35.5-18.8-47.6L122.3 127z', fill='#D74022')
                                    polygon(points='238.3 152.1 225.6 139.3 283.4 81.5 225.6 23.8 238.3 11 308.8 81.5 ', fill='#4D4D4F')
                                    polygon(points='70.5 152.1 0 81.5 70.5 11 83.2 23.8 25.5 81.5 83.2 139.3 ', fill='#4D4D4F')
                                    path.s2(d='M144.5 30.6')
                                    path.s2(d='M132.6 30.4')
                                    path(d='M128.6 10.9c0-1.5 0-3 0.1-4.5 0.1-1.4 0.8-3.1 0.3-4.5 -0.8-2.5-4.3-2.6-5.5-0.3 -1.8 4.5-2.5 9.2-2.4 14 -6.7 3.2-17 2-24-0.2 5.1 4 11.2 6.7 18 7.5 -6.5 3-12.5 7-17.6 11.9 13.7-9.2 32.4-7.6 44.4 3.7 -1.3-4.6-3.5-8.7-6.4-12.3 7.3-5.2 16.3-7.4 25.1-6.3 -7-2.1-14.2-3-21.5-2.8 3.2-2.1 6-4.7 8.3-7.7 -6.3 3.5-11.4 4.1-18.5 4.4C128.8 13.2 128.7 11.6 128.6 10.9', fill='#95D600')
                            h1 What personality do you have? 
                        section
                            p.slideInUp.slideInUp2 Answer the questions and find out now.
                            .slideInUp.slideInUp3
                                a.button(href='/test') Start Test
                    // .wrapper
            // #main-container
            .footer-container
                footer.wrapper
                    h3
                        | 2016 © 
                        a(href='https://ihatetomatoes.net', target='_blank') Ihatetomatoes.net
                        |  
                        a(href='https://twitter.com/ihatetomatoes', target='_blank') @ihatetomatoes
                        |  | Images by 
                        a(href='http://raumrot.com/portfolio/set-24-free-for-commercial-use-photos/', target='_blank') Markus Spiske / raumrot.com
                        |  | Animate responsibly!
            script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
            script.
                window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\\/script>')
